*{
    margin:0px;
    padding:0px;
  }
  body {
    background-color:#F4F3EE;
  }
  /* STYLE TEXT */
  h1 { 
    background-color:#8A817C;
    color:#463F3A;
    text-align:center;
    font-family: 'Spectral', serif;
    font-size:40px;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:20px;
  }
  
  main {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
  }
  
  p {
    text-align:center; 
    font-size:18px;
    font-family: 'Spectral', serif;
    color:#463F3A;
    background-color:#F4F3EE;
    margin-right:20%;
    margin-left:20%;
  }

  /* STYLE NAV BAR */
  ul {
    list-style-type:none;
    background-color:#8A817C;
    overflow:hidden;
    padding:5px;
    color:#463F3A;
    text-align:center;
    margin-bottom:20px;
    font-family: 'Spectral', serif;
  } 
  li {
    display:inline;
  }
  
  .img {
    text-decoration:none;
    color:white;
    text-align:center;
    font-family: 'Spectral', serif;
  }
  
  .back {
    font-family: 'Spectral', serif;
    text-decoration:none;
    color:white;
    font-size:20px;
    padding:30px;
  }
  
  li a:hover {
    background-color:#BCB8B1;
    
  }